/* Définition des polices personnalisées */
@font-face {
    font-family: 'ballpark';
    src: url('ballw___-webfont.woff2') format('woff2'),
         url('ballw___-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}    
@font-face {
    font-family: 'courgette';
    src: url('../fonts/courgette/Courgette-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'qwigley';
    src: url('../fonts/qwigley/Qwigley-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

/* Corps de la page */
body {
    background: url("../images/coquelicot.png") fixed no-repeat;
    background-position: top 380px right 0px; /*fleur fixe*/
    background-color: rgba(255,255,255,255);
    font-family: 'Trebuchet MS', Arial, sans-serif;
    color: black;
    margin:auto;
}
#bloc_page {
    margin :auto;
    text-align: justify;
}

/* Header */
header {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#h_entete_page {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.image1 { 
    width: 90px;
    height: 90px;
    box-shadow: 0px 4px 4px rgb(75, 83, 84);   
    border-radius: 15px;
}
#h_titres_entete {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header h1 { /*Cecile Petitjean*/
    margin: auto;
    font-family: qwigley, arial, serif;
    font-size: 2.7rem;
    font-style: normal;
    text-align: center;
    color: rgb(105, 106, 105);
}
header h2 { /*Kinesiologue*/
    margin: auto;
    font-family: serif;
    font-size: 2rem;
    font-style: bold;
    text-align: center;
    color: rgb(105, 106, 105);
}
/*nav du header*/
#menu_entete {
    background-color: rgb(235, 229, 229);
}
header nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    flex-wrap: wrap;
    margin: auto;
    margin-left: -40px;
    list-style-type: none;
    font-size: 1.2rem;
    font-family: serif;
}
header nav a {
    padding: 0 20px 0 20px;
    display: flex;
    align-content: space-around;
    flex-wrap: wrap;
    font-size: 1.3rem;
    text-decoration: none;
    color:black;
    line-height: 2em;
}
header nav a:hover {
    background-color: rgb(153, 187, 153);
    cursor: pointer;
    border-radius: 5px 15px 0 0;
}
#h_page_active {
    box-shadow: 0px 4px 4px rgb(99, 106, 106);   
    background-color: rgb(153, 187, 153);
    border-radius: 5px 15px 0 0;
    font-weight: bolder;
}
/* Bannière du header */
#h_banniere {
    height: 160px;
    width: 100%;
    position: relative;
    box-shadow: 0px 4px 4px rgb(75, 83, 84);   
    background-image: url(../images/coquelicot6.jpg);
    background-size: cover;
    background-color: rgba(240,240,240,255); /*nécessaire si l'image ne charge pas*/
}
#h_banniere p {
    margin-top: 40px;
    color:white;
    text-align: center;
    font-family: courgette, arial, serif;
    font-weight: 200;
    font-size: 2rem;
}
#h_legende_banniere {
    text-align: center;
    font-family: serif;
    font-size: 1.2rem;
    background-color: rgb(235, 229, 229);
}
#h_legende_banniere strong {
    font-weight: 200;
}
/*section*/
section {
    display: flex;
}
/*Bandeau latéral de section*/
#s_bandeau_lateral {
    width: 15%;
    margin-left: 50px;
    margin-top: 30px;
    min-width: 160px;
}
.figure2 {
    margin-left: 0px;
    margin-bottom: 30px;
    position: relative;
}
.image2 {
    width: 100px;
    height: 100px;
    box-shadow: 0px 4px 4px rgb(75, 83, 84);   
    border-radius: 15px;
}
.text_figure2 {
    width: 100px;
    bottom: 10px;
    position:absolute;
    text-align: center;
    color: rgb(5, 5, 5);
    font-size:0.6rem;
    font-weight: bold;
    background-color: rgba(230,232,230,0.75);
}
.image2:hover {
    box-shadow: 5px 5px 5px rgb(212, 70, 35);
    cursor: pointer;
}

/*Corps de section*/
#s_corps_section {
    width: 80%;
    margin: 0px 160px 20px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Article de section */
#s_theme {
    margin: auto;
    margin-left: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.figure_theme {
    margin-bottom: 50px;
    position: relative;
}
.image_theme {
    width: 400px;
    height: 400px;
    box-shadow: 0px 4px 4px rgb(75, 83, 84);   
    border-radius: 15px;
}
.text_figure_theme {
    width: 400px;
    bottom: 30px;
    position:absolute;
    text-align: center;
    color: rgb(5, 5, 5);
    font-size: 1.8rem;
    font-weight: bold;
    background-color: rgba(230,232,230,0.75);
}
.text_theme_hover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    font-size: 1.5em;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
}

.figure_theme:hover .text_theme_hover {
    display: flex;
    cursor:auto;
}


/*footer*/
footer{
    background-color: rgb(235, 229, 229);
}
#f_bandeau {
    margin-left: 60px;
    margin-right: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}
#f_contact {
    text-align: center;
}
#f_contact a {
    margin-top: -15px;
    padding: 5px 10px 5px 10px;
    border: 2px rgb(20, 185, 56) solid;
    border-radius: 15px;
    box-shadow: 5px 5px 5px rgb(162, 175, 164);
    font-size: 0.8rem;
    font-style: italic;
    color: blue;
}
#f_contact p:hover {
    background-color: rgb(153, 187, 153);
    cursor: pointer;
}
#f_contact h1 {
    font-family: serif, arial;
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 1.8rem;
    color:rgb(28, 168, 59);
}
#f_coord {
    font-family: serif, arial;
    text-align: center;
}
#f_tel {
    margin-bottom: 10px;
    font-size: 1.8rem;
    font-weight: bold;
    color:rgb(28, 168, 59);
}
#f_ville {
    padding-bottom: 10px;
    margin-top: -5px;
    font-size: 1.3rem;
    font-weight: bold;
}
#f_reseaux_sociaux {
    text-align: center;
}
#f_reseaux-sociaux img {
    margin: 0 10px 0 30px;
    height: 50px;
    width: 50px;
}
#f_snk {
    margin-right: 80px;
    width: 300px;
    text-align: right;
}
.logosnk {
    height: 80px;
    margin-left: 10px;
    float: right;
}
#f_mentions {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}
#f_mentions ul {
    display: flex;
    justify-content: space-between;
}
#f_mentions li {
    margin-right: 20px;
    margin-top: -13px;
    list-style-type: none;
    font-size: 1rem;
}
#f_mentions_finales {
   margin-left: 20px;
   display: flex;
   justify-content: end;
   border-left: 20px;
   color:rgb(111, 118, 119);
   font-size: 0.6rem;
   font-style: italic;
}

/*MEDIA QUERY : résolutions inférieures à 1 024 px*/
@media all and (max-width: 1024px) {
    body {
        background: url("../images/coquelicot_petit.png") fixed no-repeat;
        background-position: top 300px right 10px; /*fleur fixe*/
        background-color: rgba(240,240,240,255);
        font-family: 'Trebuchet MS', Arial, sans-serif;
    }
    #bloc_page {
    width: auto;
        padding: 10px 0 10px 0;
    }

    /* Header */
    #h_menu_hors_banniere {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    #h_entete_page {
        width: 80%;
        margin-left: 50px;
    }
    .image1 { 
        width: 80px;
        height: 80px;
    }
    header h1 { /*Cecile Petitjean*/
        margin: 10px 0px 0 0px;
        font-family: qwigley, arial, serif;
        font-size: 2.5rem;
    }
    header h2 { /*Kinesiologue*/
        margin: 0px 0px 10px 0px;
        font-family: serif; 
        font-size: 2rem;
    }
    /*nav du header*/
    #menu_entete {
        background-color: rgb(240, 240, 240);
        padding-top: 5px;
    }
header nav ul {
        flex-direction: column;
        padding: 0px 20px 0 20px;
    }
    header nav a {
        padding: 0 5px 0 5px;
        width: 120px;
        font-size: 1rem;
        line-height: 1.4rem;
    }
    #h_page_active {
        box-shadow: 0px 4px 4px rgb(99, 106, 106);   
        background-color: rgb(153, 187, 153);
        border-radius: 0;
        font-weight: bolder;
    }

    /* Bannière de header */
        #h_banniere {
            margin-top: 0px;
            height: 60px;
        }
        #h_banniere p {
            margin-top: 20px;
            font-size: 2rem;
        }

    /*section*/
    #s_bandeau_lateral {
        margin-top: 0;
    }
    .figure2 {
        margin-left: 10px;
    }
    .image2 {
        width: 100px;
        height: 100px;
    }
    .text_figure2 {
        width: 100px;
    }
    /*Corps de section (inclu bannière et article)*/
    #s_corps_section {
        width: 80%;
        margin: 0px 60px 20px 10px;
    }
    /* Article de section */
    .image_theme {
        width: 310px;
        height: 310px;
    }
    .text_figure_theme {
        width: 310px;
    }   

    /*footer*/
    #f_bandeau {
        margin-left: 10px;
        margin-right: 10px;
        height: 70px;
    }
    #f_contact p {
        font-size:0.6rem;
    }
    #f_contact h1 {
        font-size: 1.4rem;
    }
    #f_tel {
        font-size: 1.4rem;
    }
    #f_reseaux-sociaux img {
        margin: 15px 10px 0 10px;
        height: 40px;
        width: 40px;
    }
    #f_snk {
        margin-right: 10px;
        width: 210px;
        text-align: right;
        font-size: 0.8rem;
    }
    .logosnk {
        height: 50px;
        margin-left: 10px;
        float: right;
    }
    }    