@charset "UTF-8";
/*@import "./utils/extensions";*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  background: url("../images/coquelicot.png") fixed no-repeat;
  background-position: top 280px right 0px; /*fleur fixe*/
  background-color: rgb(240, 240, 240);
  font-family: "Trebuchet MS", Arial, sans-serif;
  color: rgb(5, 5, 5);
  margin: auto;
  box-sizing: inherit;
}
@media all and (max-width: 1024px) {
  body {
    background: url("../images/coquelicot_1024.png") fixed no-repeat;
    background-position: top 250px right 10px; /*fleur fixe*/
    background-color: rgb(240, 240, 240);
  }
}
@media all and (max-width: 1024px) and (max-width: 680px) {
  body {
    background: url("../images/coquelicot_680.png") fixed no-repeat;
    background-position: top 250px right 5px; /*fleur fixe*/
    background-color: rgb(240, 240, 240);
  }
}
body .gotoTop { /*permet de positionner le container nav sur tout le body*/
  z-index: 9999; /*permet de positionner au-dessus de tous les autres élémnts*/
  position: absolute;
  top: 0;
  right: 1rem;
  bottom: 0; /* occupe toute la hauteur du référent */
  pointer-events: none; /* ne prend pas l'événement du pointer */
}
@media all and (max-width: 1024px) {
  body .gotoTop {
    right: 0.5rem;
  }
}
@media all and (max-width: 680px) {
  body .gotoTop {
    display: none;
  }
}
body .gotoTop a {
  display: block; /* pour prise en compte sticky */
  position: sticky; /* positionnement « adhérent » */
  top: 65vh; /* position d'affichage fixe à 40% de la hauteur d'affichage */
  margin-top: 130vh; /* pour masquer verticalement au départ : laisse 100% de l'affichage*/
  font-size: 0.9rem; /* pour bien le voir */
  font-weight: 800;
  padding: 0.3rem 0.5rem 0.3rem 0.5rem;
  color: rgb(30, 177, 30);
  text-align: center;
  pointer-events: auto; /* reprend l'événement du pointer */
  border: 0.1rem solid rgb(226, 226, 226);
  border-radius: 5px;
  background: rgb(226, 226, 226);
  text-decoration: none;
}
@media all and (max-width: 1024px) {
  body .gotoTop a {
    font-size: 0.8rem; /* pour bien le voir */
    font-weight: 800;
    padding: 0.3rem 0.5rem 0.3rem 0.5rem;
  }
}

#bloc_page {
  text-align: justify;
}
@media all and (max-width: 1024px) {
  #bloc_page {
    width: auto;
    padding: 10px 0 10px 0;
  }
}

/*fondations du site comme police, norme, box-sizing*/
/* Définition des polices personnalisées */
@font-face {
  font-family: "ballpark", sans-serif;
  src: url("ballw___-webfont.woff2") format("woff2"), url("ballw___-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; /*réduit la période de blocage*/
}
@font-face {
  font-family: "courgette", sans-serif;
  src: url("../fonts/courgette/Courgette-Regular.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "qwigley", sans-serif;
  src: url("../fonts/qwigley/Qwigley-Regular.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "Trebuchet MS", Arial, sans-serif;
  color: rgb(5, 5, 5);
  font-size: 1rem;
  font-weight: 100;
  line-height: 1;
}

.accroche {
  font-family: serif, Arial, sans-serif;
  color: green;
  font-size: 1.7rem;
  font-weight: 100;
  line-height: 1;
}
@media all and (max-width: 1024px) {
  .accroche {
    font-size: 1rem;
  }
}

h2 {
  font-family: "Trebuchet MS", Arial, sans-serif;
  margin-bottom: 10px;
  padding-top: 15px;
  font-size: 1.6rem;
  text-decoration: none;
  text-align: center;
  color: green;
}
@media all and (max-width: 1024px) {
  h2 {
    font-size: 1.1rem;
  }
}

em {
  font-style: normal;
  font-weight: bold;
}

/*components : blocs bem indépendants comme les boutons*/
.btn {
  padding: 10px;
  color: #135fc2;
  border: 0.1rem solid #135fc2;
  border-radius: 10px;
  background: rgb(226, 226, 226);
  cursor: pointer;
}
.btn:hover {
  background: #135fc2;
  color: white;
}
@media all and (max-width: 1024px) {
  .btn {
    padding: 5px;
    color: #135fc2;
    border: 0.1rem solid #135fc2;
    border-radius: 10px;
    background: rgb(226, 226, 226);
    cursor: pointer;
  }
  .btn:hover {
    background: #135fc2;
    color: white;
  }
}

.btn2 {
  padding: 5px 20px 5px 20px;
  border: 0.1rem solid green;
  border-radius: 10px;
  background: rgba(226, 226, 226, 0.8);
  color: #135fc2;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  top: 20px;
  right: -50px;
}
.btn2:hover {
  background: green;
  color: white;
}
@media all and (max-width: 1200px) {
  .btn2 {
    display: flex;
    flex-direction: column;
    max-width: 380px;
    top: 10px;
    margin-top: 10px;
    font-size: 0.9rem;
  }
}
@media all and (max-width: 750px) {
  .btn2 {
    padding: 5px 5px 5px 15px;
    border: 0.1rem solid green;
    border-radius: 10px;
    background: rgba(226, 226, 226, 0.8);
    color: #135fc2;
    text-decoration: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    right: 0;
    font-size: 0.7rem;
    max-width: 230px;
    font-size: 0.7rem;
  }
  .btn2:hover {
    background: green;
    color: white;
  }
}

.btn3 {
  padding: 50px;
  color: #135fc2;
  border: 0.1rem solid #135fc2;
  border-radius: 10px;
  background: rgb(226, 226, 226);
  cursor: pointer;
  color: red;
}
.btn3:hover {
  background: #135fc2;
  color: white;
}
@media all and (max-width: 1024px) {
  .btn3 {
    padding: 5px;
    color: #135fc2;
    border: 0.1rem solid #135fc2;
    border-radius: 10px;
    background: rgb(226, 226, 226);
    cursor: pointer;
  }
  .btn3:hover {
    background: #135fc2;
    color: white;
  }
}

.btn4 {
  padding: 5px 5px 5px 5px;
  border: 0.1rem solid green;
  border-radius: 10px;
  background: rgba(226, 226, 226, 0.8);
  color: #135fc2;
  text-decoration: none;
  cursor: pointer;
  position: center;
  font-size: 1rem;
  text-align: center;
}
.btn4:hover {
  background: green;
  color: white;
}
@media all and (max-width: 1024px) {
  .btn4 {
    font-size: 0.7rem;
  }
}

/*layouts : blocs bem réutilisables comme header ou footer*/
.header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /*@media all and (max-width: 1024px) {
      display: flex;
      flex-direction: row;
  }*/
}
.header_heading {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 2px;
  margin-bottom: 5px;
}
@media all and (max-width: 1024px) {
  .header_heading {
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
  }
}
@media all and (max-width: 680px) {
  .header_heading {
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
  }
}
.header_heading_image {
  width: 90px;
  height: 90px;
  box-shadow: 0px 4px 4px rgb(75, 83, 84);
  border-radius: 15px;
}
@media all and (max-width: 1024px) {
  .header_heading_image {
    width: 85px;
    height: 85px;
  }
}
@media all and (max-width: 630px) {
  .header_heading_image {
    width: 45px;
    height: 45px;
  }
}
.header_heading_calendrier {
  width: 70px;
  box-shadow: 0px 4px 4px rgb(75, 83, 84);
  border-radius: 15px;
}
@media all and (max-width: 1024px) {
  .header_heading_calendrier {
    width: 60px;
  }
}
@media all and (max-width: 630px) {
  .header_heading_calendrier {
    width: 45px;
  }
}
.header_heading_name {
  display: flex;
  width: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header h1 {
  font-family: qwigley, serif, arial;
  font-size: 4rem;
  font-weight: 500;
  font-style: normal;
  text-align: center;
  color: rgb(75, 83, 84);
}
@media all and (max-width: 1024px) {
  .header h1 {
    font-family: qwigley, serif, arial;
    font-size: 2.6rem;
    font-weight: 500;
  }
}
@media all and (max-width: 630px) {
  .header h1 {
    font-family: qwigley, serif, arial;
    font-size: 1.7rem;
    font-weight: 500;
  }
}
.header h2 {
  font-family: serif;
  padding-top: 0;
  font-size: 2.3rem;
  font-style: bold;
  text-align: center;
  color: rgb(75, 83, 84);
}
@media all and (max-width: 1024px) {
  .header h2 {
    font-size: 1.5rem;
  }
}
@media all and (max-width: 630px) {
  .header h2 {
    font-size: 0.8rem;
  }
}

.header_nav {
  background-color: rgb(226, 226, 226);
}
@media all and (max-width: 1024px) {
  .header_nav {
    /*width: 150px;
    margin-right: 0px;*/
  }
}
.header_nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
  font-family: serif;
  /*@media all and (max-width: 1024px) {
      flex-direction: column;
  }*/
}
.header_nav a {
  padding: 0 25px 10px 20px;
  font-size: 1.3rem;
  color: rgb(5, 5, 5);
  line-height: 2em;
  text-decoration: none;
  border-radius: 5px 15px 0 0;
}
@media all and (max-width: 1024px) {
  .header_nav a {
    flex-direction: column;
    font-size: 0.9rem;
    line-height: 1.2rem;
    border-radius: 0;
  }
}
@media all and (max-width: 830px) {
  .header_nav a {
    padding: 0 10px 10px 10px;
    font-size: 0.8rem;
    line-height: 1rem;
  }
}
.header_nav a:hover {
  background-color: rgb(153, 187, 153);
  padding-top: 10px;
  cursor: pointer;
  border-radius: 5px 15px 0 0;
  /*@media all and (max-width: 1024px) {
      padding-top:2px;
      padding-bottom: 2px;
      border-radius: 0;
      background-color: $colour-activ;
  }*/
}
.header_nav-active {
  background-color: rgb(153, 187, 153);
  border-radius: 5px 15px 0 0;
  font-weight: bold;
  /*@media all and (max-width: 1024px) {
      border-radius: 0;
  }*/
}

.section_nav {
  margin-left: 30px;
  min-width: 200px;
}
@media all and (max-width: 1024px) {
  .section_nav {
    margin-left: 20px;
    min-width: 140px;
  }
}
@media all and (max-width: 680px) {
  .section_nav {
    display: none;
    /*margin-left: 10px;
    min-width: 70px;*/
  }
}
.section_nav p {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.6rem;
  font-weight: bold;
  color: green;
}
@media all and (max-width: 1024px) {
  .section_nav p {
    font-size: 1.2rem;
  }
}
@media all and (max-width: 680px) {
  .section_nav p {
    font-size: 0.6rem;
  }
}
.section_nav .vignette {
  margin-bottom: 20px;
  position: relative;
}
.section_nav .vignette .image {
  width: 150px;
  height: 150px;
  box-shadow: 0px 4px 4px rgb(75, 83, 84);
  border-radius: 15px;
}
@media all and (max-width: 1024px) {
  .section_nav .vignette .image {
    width: 120px;
    height: 120px;
  }
}
@media all and (max-width: 680px) {
  .section_nav .vignette .image {
    width: 50px;
    height: 50px;
  }
}
.section_nav .vignette .image:hover {
  box-shadow: 5px 5px 5px rgb(212, 70, 35);
  cursor: pointer;
}
.section_nav .vignette .text {
  width: 150px;
  min-height: 1.1rem;
  bottom: 10px;
  position: absolute;
  text-align: center;
  color: rgb(5, 5, 5);
  font-size: 0.9rem;
  font-weight: bold;
  background-color: rgba(230, 232, 230, 0.75);
}
@media all and (max-width: 1024px) {
  .section_nav .vignette .text {
    width: 120px;
  }
}
@media all and (max-width: 680px) {
  .section_nav .vignette .text {
    width: 50px;
    font-size: 0.5rem;
    bottom: 5px;
  }
}

.section_nav-accueil {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
  margin: 30px 100px 30px 50px;
}
@media all and (max-width: 1024px) {
  .section_nav-accueil {
    grid-gap: 30px;
    margin: 0 80px 30px 50px;
  }
}
@media all and (max-width: 680px) {
  .section_nav-accueil {
    grid-gap: 10px;
    margin: 0 50px 30px 20px;
  }
}
.section_nav-accueil h1 {
  margin-top: 35%;
}
@media all and (max-width: 1024px) {
  .section_nav-accueil h1 {
    font-size: 2rem;
  }
}
@media all and (max-width: 680px) {
  .section_nav-accueil h1 {
    font-size: 0.9rem;
  }
}
.section_nav-accueil .vignette {
  position: relative;
}
.section_nav-accueil .vignette .image {
  width: 100%;
  height: 100%;
  box-shadow: 0px 4px 4px rgb(75, 83, 84);
  border-radius: 15px;
}
.section_nav-accueil .vignette .text {
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  min-height: 1.5rem;
  bottom: 25px;
  position: absolute;
  text-align: center;
  color: rgb(5, 5, 5);
  font-size: 1.3rem;
  font-weight: bold;
  background-color: rgba(230, 232, 230, 0.75);
}
@media all and (max-width: 1024px) {
  .section_nav-accueil .vignette .text {
    bottom: 15px;
    width: 100%;
    font-size: 1.1rem;
  }
}
@media all and (max-width: 680px) {
  .section_nav-accueil .vignette .text {
    bottom: 10px;
    width: 100%;
    font-size: 0.7rem;
    min-height: 1.3rem;
  }
}
.section_nav-accueil .vignette .vignette_text--hover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 15px 10px 5px 15px;
  width: 100%;
  text-align: left;
  border-radius: 15px;
  font-size: 1em;
  font-weight: 600;
  line-height: 1.6rem;
  color: white;
  background-color: rgba(153, 152, 152, 0.8);
  overflow: auto;
  display: none;
}
@media all and (max-width: 1300px) {
  .section_nav-accueil .vignette .vignette_text--hover {
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    font-size: 0.9em;
    line-height: 1.4rem;
  }
}
@media all and (max-width: 1024px) {
  .section_nav-accueil .vignette .vignette_text--hover {
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    font-size: 0.8em;
    line-height: 1.2rem;
  }
}
.section_nav-accueil .vignette:hover .vignette_text--hover {
  display: flex;
  flex-direction: column;
  cursor: auto;
}

.calendrier {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 1rem;
  font-size: 1rem;
  color: green;
  justify-content: center;
}
.calendrier img {
  margin-left: 3rem;
  width: 70px;
}

.banniere {
  height: 100px;
  width: 100%;
  position: relative;
  background-image: url(../images/coquelicot6.jpg);
  background-size: cover;
  background-color: rgb(240, 240, 240); /*si l'image ne charge pas*/
}
.banniere p {
  padding-top: 40px;
  color: #fff;
  text-align: center;
  font-family: courgette, arial, serif;
  font-weight: 200;
  font-size: 2rem;
}
@media all and (max-width: 1024px) {
  .banniere {
    height: 50px;
  }
  .banniere p {
    padding-top: 15px;
    font-size: 1.2rem;
  }
}

.banniere-accueil {
  height: 350px;
  width: 100%;
  position: relative;
  background-image: url(../images/coquelicot6.jpg);
  background-size: cover;
  background-color: rgb(240, 240, 240); /*si l'image ne charge pas*/
}
.banniere-accueil p {
  padding-top: 200px;
  color: #fff;
  text-align: center;
  font-family: courgette, arial, serif;
  font-weight: 200;
  font-size: 4rem;
}
@media all and (max-width: 1024px) {
  .banniere-accueil {
    height: 100px;
  }
  .banniere-accueil p {
    padding-top: 50px;
    font-size: 1.3rem;
  }
}

.accroche {
  margin-top: 15px;
  text-align: center;
}
@media all and (min-width: 680px) and (max-width: 1024px) {
  .accroche {
    margin-top: 15px;
  }
}
@media all and (max-width: 680px) {
  .accroche {
    margin-top: 0px;
  }
}

.form {
  width: 60%;
  background-color: rgb(196, 228, 193);
  border-radius: 15px;
}
.form__heading {
  text-align: center;
  line-height: 3rem;
}
.form__field {
  padding: 0 10px 0 10px;
}
.form__field label {
  display: block;
  font-size: 1.3rem;
  line-height: 2rem;
}
@media all and (max-width: 1024px) {
  .form__field label {
    font-size: 1rem;
    line-height: 1.2rem;
  }
}
.form__field input {
  width: 100%;
  color: blue;
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 1.7rem;
  padding-left: 10px;
}
@media all and (max-width: 1024px) {
  .form__field input {
    font-size: 1rem;
    line-height: 1.2rem;
  }
}
.form__field textarea {
  width: 100%;
  color: blue;
  font-size: 1rem;
  line-height: 1.4rem;
  padding-top: 10px;
  padding-left: 10px;
}
@media all and (max-width: 1024px) {
  .form__field textarea {
    font-size: 0.9rem;
    line-height: 1.1rem;
  }
}

footer {
  background-color: rgb(226, 226, 226);
}
footer .heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 60px;
  margin-right: 20px;
}
@media all and (max-width: 1100px) {
  footer .heading {
    margin-left: 20px;
  }
}
@media all and (max-width: 730px) {
  footer .heading {
    margin-left: 10px;
    margin-right: 10px;
    align-content: center;
    flex-wrap: wrap;
  }
}
footer .heading .cecile_footer {
  text-decoration: none;
  color: rgb(5, 5, 5);
  font-family: qwigley, serif, arial;
  font-size: 3rem;
  font-weight: 500;
}
@media all and (max-width: 1100px) {
  footer .heading .cecile_footer {
    font-family: qwigley, serif, arial;
    font-size: 2.5rem;
    font-weight: 500;
  }
}
@media all and (max-width: 1024px) {
  footer .heading .cecile_footer {
    font-family: qwigley, serif, arial;
    font-size: 2rem;
    font-weight: 500;
  }
}
@media all and (max-width: 680px) {
  footer .heading .cecile_footer {
    font-family: qwigley, serif, arial;
    font-size: 1.5rem;
    font-weight: 500;
  }
}
footer .heading h2 {
  font-family: serif, arial;
  font-size: 1.3rem;
  font-weight: 300;
}
@media all and (max-width: 1024px) {
  footer .heading h2 {
    padding-top: 5px;
    font-size: 1.2rem;
  }
}
@media all and (max-width: 730px) {
  footer .heading h2 {
    font-size: 1rem;
  }
}
footer .heading .btn {
  font-family: serif, arial;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
}
@media all and (max-width: 1024px) {
  footer .heading .btn {
    font-size: 0.8rem;
  }
}
@media all and (max-width: 730px) {
  footer .heading .btn {
    font-size: 0.7rem;
  }
}
footer .heading .reseaux img {
  height: 40px;
  width: 40px;
  margin: 10px;
  vertical-align: middle;
}
@media all and (max-width: 1024px) {
  footer .heading .reseaux img {
    height: 30px;
    width: 30px;
    margin: 5px;
  }
}
@media all and (max-width: 730px) {
  footer .heading .reseaux img {
    margin-left: 10px;
    margin-right: 10px;
  }
}
footer .heading .snk {
  margin-top: 5px;
  width: 300px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
@media all and (max-width: 1024px) {
  footer .heading .snk {
    width: 130px;
  }
}
@media all and (max-width: 730px) {
  footer .heading .snk {
    width: 100px;
  }
}
footer .heading .snk p {
  font-size: 0.8rem;
  text-align: right;
  vertical-align: middle;
}
@media all and (max-width: 1024px) {
  footer .heading .snk p {
    font-size: 0.75rem;
  }
}
@media all and (max-width: 730px) {
  footer .heading .snk p {
    display: none;
  }
}
footer .heading .snk img {
  height: 40px;
  margin-left: 10px;
  float: right;
}
@media all and (max-width: 1024px) {
  footer .heading .snk img {
    height: 40px;
  }
}
footer .mentions {
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
}
footer .mentions a {
  font-size: 0.8rem;
}
footer .mentions a a:visited {
  color: black;
  text-decoration: none;
}
@media all and (max-width: 1024px) {
  footer .mentions a {
    font-size: 0.7rem;
  }
}
@media all and (max-width: 730px) {
  footer .mentions a {
    font-size: 0.6rem;
  }
}
footer .mentions p {
  margin-left: 10px;
  color: rgb(75, 83, 84);
  font-size: 0.8rem;
  font-style: italic;
}
@media all and (max-width: 1024px) {
  footer .mentions p {
    font-size: 0.7rem;
  }
}
@media all and (max-width: 730px) {
  footer .mentions p {
    font-size: 0.6rem;
  }
}

/*pages : blocs qui ne s'appliquent qu'à une seule page*/
section {
  display: flex;
  flex-direction: row;
}

article {
  width: 85%;
  margin: 0 160px 20px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media all and (max-width: 1024px) {
  article {
    width: 90%;
    margin: 0px 70px 20px 0px;
  }
}
@media all and (max-width: 680px) {
  article {
    width: 95%;
    margin: 0px 40px 20px 10px;
  }
}
article .accueil {
  margin-left: 10%;
}
@media all and (max-width: 1024px) {
  article .accueil {
    margin-left: 5%;
  }
}
@media all and (max-width: 680px) {
  article .accueil {
    margin-left: 5px 0 0 0;
  }
}
article .impair {
  padding: 0px 20px 40px 30px;
  margin-top: 20px;
  margin-right: 170px;
  border-radius: 20px;
  background-color: rgb(194, 212, 200);
}
@media all and (max-width: 1024px) {
  article .impair {
    margin-right: 70px;
  }
}
@media all and (max-width: 680px) {
  article .impair {
    margin: 10px 0 0 0;
    padding: 0px 20px 20px 10px;
  }
}
article .pair {
  padding: 0px 20px 40px 30px;
  border-radius: 20px;
  margin-top: 20px;
  margin-left: 120px;
  background-color: rgb(186, 208, 212);
}
@media all and (max-width: 1024px) {
  article .pair {
    margin-left: 70px;
  }
}
@media all and (max-width: 680px) {
  article .pair {
    margin: 10px 0 0 0;
    padding: 0px 20px 20px 10px;
  }
}
article .centre {
  padding: 0px 20px 10px 30px;
  border-radius: 20px;
  margin: 20px 20px 20px 30px;
  background-color: rgb(186, 208, 212);
}
@media all and (max-width: 1024px) {
  article .centre {
    margin-left: 20px;
  }
}
article .figure_left {
  float: left;
}
article .figure_left figcaption {
  width: 180px;
  font-size: 0.7rem;
  text-align: center;
}
@media all and (max-width: 1024px) {
  article .figure_left figcaption {
    width: 130px;
    font-size: 0.6rem;
  }
}
@media all and (max-width: 680px) {
  article .figure_left figcaption {
    width: 80px;
    font-size: 0.5rem;
  }
}
article .figure_left .figure_photo {
  width: 200px;
  margin-top: 10px;
  border-radius: 15px;
  margin-right: 20px;
}
@media all and (max-width: 1024px) {
  article .figure_left .figure_photo {
    width: 150px;
    margin-top: 10px;
    border-radius: 15px;
  }
}
@media all and (max-width: 680px) {
  article .figure_left .figure_photo {
    width: 100px;
    margin-top: 10px;
    border-radius: 15px;
  }
}
article .figure_right {
  float: right;
}
article .figure_right figcaption {
  width: 180px;
  font-size: 0.7rem;
  text-align: center;
}
@media all and (max-width: 1024px) {
  article .figure_right figcaption {
    width: 130px;
    font-size: 0.6rem;
  }
}
@media all and (max-width: 680px) {
  article .figure_right figcaption {
    width: 80px;
    font-size: 0.5rem;
  }
}
article .figure_right .figure_photo {
  width: 150px;
  margin-top: 10px;
  border-radius: 15px;
  margin-left: 15px;
}
@media all and (max-width: 1024px) {
  article .figure_right .figure_photo {
    width: 100px;
    margin-top: 10px;
    border-radius: 15px;
  }
}
@media all and (max-width: 680px) {
  article .figure_right .figure_photo {
    width: 70px;
    margin-top: 10px;
    border-radius: 15px;
    margin-left: 10px;
  }
}
article .figure_right_large {
  float: right;
}
article .figure_right_large figcaption {
  width: 180px;
  font-size: 0.7rem;
  text-align: center;
}
@media all and (max-width: 1024px) {
  article .figure_right_large figcaption {
    width: 130px;
    font-size: 0.6rem;
  }
}
@media all and (max-width: 680px) {
  article .figure_right_large figcaption {
    width: 80px;
    font-size: 0.5rem;
  }
}
article .figure_right_large .figure_photo {
  width: 350px;
  margin-top: 10px;
  border-radius: 15px;
  margin-left: 15px;
}
@media all and (max-width: 1024px) {
  article .figure_right_large .figure_photo {
    width: 250px;
    margin-top: 10px;
    border-radius: 15px;
  }
}
@media all and (max-width: 680px) {
  article .figure_right_large .figure_photo {
    width: 150px;
    margin-top: 10px;
    border-radius: 15px;
  }
}
article .figure_right_large2 {
  float: right;
}
article .figure_right_large2 figcaption {
  width: 180px;
  font-size: 0.7rem;
  text-align: center;
}
@media all and (max-width: 1024px) {
  article .figure_right_large2 figcaption {
    width: 130px;
    font-size: 0.6rem;
  }
}
@media all and (max-width: 680px) {
  article .figure_right_large2 figcaption {
    width: 80px;
    font-size: 0.5rem;
  }
}
article .figure_right_large2 .figure_photo {
  width: 300px;
  margin-top: 10px;
  border-radius: 15px;
  margin-left: 15px;
}
@media all and (max-width: 1024px) {
  article .figure_right_large2 .figure_photo {
    width: 200px;
    margin-top: 10px;
    border-radius: 15px;
  }
}
@media all and (max-width: 680px) {
  article .figure_right_large2 .figure_photo {
    width: 120px;
    margin-top: 10px;
    border-radius: 15px;
  }
}
article .paroles_1 {
  font-family: courgette, Arial, sans-serif;
  font-weight: lighter;
  list-style-type: none;
  font-size: 1rem;
  text-align: center;
}
@media all and (max-width: 1024px) {
  article .paroles_1 {
    font-size: 0.7rem;
  }
}
@media all and (max-width: 680px) {
  article .paroles_1 {
    font-size: 0.6rem;
  }
}
article .paroles_2 {
  font-family: courgette, Arial, sans-serif;
  font-weight: lighter;
  list-style-type: none;
  font-size: 1rem;
  text-align: left;
}
@media all and (max-width: 1024px) {
  article .paroles_2 {
    font-size: 0.7rem;
  }
}
article h1 {
  margin-bottom: 10px;
  padding-top: 15px;
  font-size: 1.8rem;
  text-decoration: underline;
  text-align: left;
  color: green;
}
@media all and (max-width: 1024px) {
  article h1 {
    font-size: 1.3rem;
  }
}
@media all and (max-width: 680px) {
  article h1 {
    font-size: 0.8rem;
  }
}
article h2 { /*citations*/
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: courgette, fallinlove, serif;
  font-weight: 400;
  font-size: 1.7rem;
  text-align: right;
  color: rgb(238, 63, 40);
}
@media all and (max-width: 1024px) {
  article h2 {
    margin-top: 0px;
    font-size: 1.1rem;
  }
}
@media all and (max-width: 680px) {
  article h2 {
    margin-top: 0px;
    font-size: 0.8rem;
  }
}
article em {
  margin-left: 2rem;
  margin-bottom: 2rem;
  font-size: 1rem;
  font-style: italic;
  font-weight: bold;
}
@media all and (max-width: 1024px) {
  article em {
    font-size: 0.7rem;
  }
}
article h6 {
  font-size: 0.8rem;
}
@media all and (max-width: 1024px) {
  article h6 {
    font-size: 0.7rem;
  }
}
@media all and (max-width: 680px) {
  article h6 {
    font-size: 0.6rem;
  }
}
article p {
  margin-top: 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
}
@media all and (max-width: 1024px) {
  article p {
    margin-top: 0.8rem;
    font-size: 0.8rem;
    line-height: 1.2em;
  }
}
@media all and (max-width: 680px) {
  article p {
    font-size: 0.75rem;
  }
}
article li {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-left: 1rem;
  margin-bottom: 0.5rem;
}
@media all and (max-width: 1024px) {
  article li {
    font-size: 0.8rem;
    margin-left: 0.5rem;
    line-height: 1.2em;
  }
}
@media all and (max-width: 680px) {
  article li {
    font-size: 0.7rem;
    margin-left: 0.5rem;
  }
}
article strong {
  color: rgb(30, 177, 30);
}
article .qui {
  margin: 10px 20px 20px 20px;
  padding: 0 20px 10px 30px;
  border-radius: 20px;
  background-color: rgb(196, 228, 193);
}
article .qui h1 {
  margin-bottom: 1.5rem;
  text-align: center;
}
@media all and (max-width: 1024px) {
  article .qui h1 {
    font-size: 1rem;
  }
}
article .qui h3 {
  margin-top: 2rem;
  text-align: center;
  font-size: 1.3rem;
}
@media all and (max-width: 1024px) {
  article .qui h3 {
    font-size: 0.8rem;
  }
}
article .qui h4 {
  margin-right: 80px;
  text-align: right;
  font-family: qwigley, serif, arial;
  font-size: 4rem;
  font-weight: 500;
}
@media all and (max-width: 1024px) {
  article .qui h4 {
    font-size: 2.5rem;
  }
}
@media all and (max-width: 680px) {
  article .qui h4 {
    margin-right: 30px;
    font-size: 2rem;
  }
}
article .qui a {
  color: #135fc2;
}
article .localisation {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
article .localisation p {
  margin-top: 0.2rem;
  margin-bottom: 0.3rem;
  font-size: 0.9rem;
}
@media all and (max-width: 1024px) {
  article .localisation p {
    font-size: 0.7rem;
  }
}
article .localisation h5 {
  margin-top: 10px;
  font-family: courgette, fallinlove, serif;
  font-weight: 300;
  font-size: 1.4rem;
  color: rgb(238, 63, 40);
}
@media all and (max-width: 1024px) {
  article .localisation h5 {
    font-size: 0.75rem;
  }
}
article .localisation__lieu {
  text-align: center;
  margin-left: 4rem;
  margin-right: 4rem;
}
@media all and (max-width: 1024px) {
  article .localisation__lieu {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
}
@media all and (max-width: 680px) {
  article .localisation__lieu {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
article .localisation iframe {
  max-width: 400px;
  height: 450px;
  border: 0;
}
@media all and (max-width: 1024px) {
  article .localisation iframe {
    max-width: 250px;
    height: 300px;
  }
}
@media all and (max-width: 680px) {
  article .localisation iframe {
    max-width: 150px;
    height: 250px;
  }
}
article .partenaires {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 20px;
  margin-top: 20px;
  list-style-type: none;
}
@media all and (max-width: 680px) {
  article .partenaires {
    grid-gap: 10px;
    margin-top: 10px;
  }
}
article .partenaires .partenaire_logo {
  margin-right: 2rem;
  width: 5rem;
  background-color: white;
}
@media all and (max-width: 1024px) {
  article .partenaires .partenaire_logo {
    margin-right: 2rem;
    width: 5rem;
  }
}
@media all and (max-width: 680px) {
  article .partenaires .partenaire_logo {
    margin-right: 1rem;
    width: 3rem;
  }
}
article .partenaires li {
  display: flex;
  flex-direction: row;
  align-items: center;
}
@media all and (max-width: 1024px) {
  article .partenaires li {
    font-size: 0.85rem;
  }
}
@media all and (max-width: 680px) {
  article .partenaires li {
    font-size: 0.6rem;
  }
}

.accroche_temoignage {
  margin: auto;
  display: grid;
  grid-template-rows: 1fr 2fr 2fr;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 0px;
  width: 60%;
  text-align: center;
}
.accroche_temoignage h2 {
  text-align: left;
}
@media all and (max-width: 1024px) {
  .accroche_temoignage h2 {
    font-size: 1.3rem;
  }
}
.accroche_temoignage .temoignage {
  padding: 5px 10px 0px 10px;
  border-radius: 10px;
  background-color: rgb(194, 196, 195);
}
.accroche_temoignage p {
  font-family: courgette, Arial, sans-serif;
  font-weight: lighter;
  font-size: 0.9rem;
  text-align: justify;
}
.accroche_temoignage h3 {
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
}

.calendrier p {
  font-size: 2.3rem;
  color: red;
  text-decoration: none;
}
.calendrier p a:visited {
  color: green;
  text-decoration: none;
}
.calendrier img {
  margin: -1px;
  width: 4.6rem;
}
@media all and (max-width: 1024px) {
  .calendrier p {
    font-size: 1.8rem;
    color: red;
    text-decoration: none;
  }
  .calendrier p a:visited {
    color: green;
    text-decoration: none;
  }
  .calendrier img {
    margin: -1px;
    width: 3.6rem;
  }
}
@media all and (max-width: 680px) {
  .calendrier p {
    font-size: 1rem;
    color: red;
    text-decoration: none;
  }
  .calendrier p a:visited {
    color: green;
    text-decoration: none;
  }
  .calendrier img {
    margin: -1px;
    width: 2rem;
  }
}

/*# sourceMappingURL=stylececile.css.map */
