@mixin box-shadowradius {
    box-shadow: 0px 4px 4px rgb(75, 83, 84);
    border-radius: 15px; 
}

@mixin marquececile($size) {
    font-family: $stylemarque, serif, arial;
    font-size: $size;
    font-weight: 500;
}

@mixin calendrier($size_calendrier) {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 10px 0 0 20px;
    width: 70%;
    padding: 5px 10px 10px 10px;
    font-size: $size_calendrier;
    background-color: rgba(172, 170, 170, 0.882);
    border-radius: 10px;
    @media all and (max-width: 1024px) {
        width: 80%;
        }
    p{
        color: $colour-bggrey;
        margin-right: 1rem;
        @media all and (max-width: 1024px) {
            margin-right: 0.5rem;
        }
    }
    &:hover {
        background: $colour-activ;
    }
    img {
        margin-left: 2rem;
        width: 70px;
        @media all and (max-width: 1024px) {
            margin-left: 0.5rem;
        }
    }
}

@mixin btn ($padding) {
    padding: $padding;
    color: $colour-link;
    border: 0.1rem solid $colour-link;
    border-radius: 10px;
    background: $colour-bggrey;
    cursor: pointer;
    &:hover {
        background: $colour-link;
        color: white;
    }
}

@mixin btn2 ($padding) {
    padding: $padding;
    border: 0.1rem solid $colour-secondary;
    border-radius: 10px;
    background: rgba(226, 226, 226, 0.8);
    color: $colour-link;
    text-decoration: none;
    cursor: pointer;
    &:hover {
        background: $colour-secondary;
        color: white;
    }
}

@mixin figure_article ($figure_side) {
    float: $figure_side;
    figcaption {
        width: 180px;
        font-size: 0.7rem;
        text-align: center;
        @media all and (max-width: 1024px) {
            width: 130px;
            font-size: 0.6rem;
        }
        @media all and (max-width: 680px) {
            width: 80px;
            font-size: 0.5rem;
        }
    }
}

@mixin figure_photo ($photo_width) {
    width: $photo_width;
    margin-top: 10px;
    border-radius: 15px;
}

@mixin paroles ($parole_size) {
    font-family: 'courgette', Arial, sans-serif;
    font-weight:lighter;
    font-style: italic;
    list-style-type: none;
    font-size: $parole_size;
}

@mixin rendez_vous ($rdv_size) {
    p {
        font-size:$rdv_size;
        color:red;
        text-decoration: none;
        a:visited {
            color:$colour-secondary;
            text-decoration: none;
        }
    }
    img {
        margin: -1px;
        width:$rdv_size*2;
    }
}