$colour-bg: rgb(240, 240, 240);
$colour-bggrey: rgb(226, 226, 226);

$colour-primary: rgb(5, 5, 5);
$colour-secondary: green;
$colour-third: rgb(238, 63, 40);
$colour-strong: rgb(30, 177, 30);
$colour-activ: rgb(153, 187, 153);
$colour-white: #fff;
$colour-shadow: rgb(75, 83, 84);
$colour-invalid: #DB464B;
$colour-link: #135fc2;

$stylemarque: qwigley;
