.banniere {
    height: 100px;
    width: 100%;
    position: relative;
    background-image: url(../images/coquelicot6.jpg);
    background-size: cover;
    background-color: rgba(240,240,240,255); /*si l'image ne charge pas*/
    p {
        padding-top: 40px;
        color:$colour-white;
        text-align: center;
        font-family: courgette, arial, serif;
        font-weight: 200;
        font-size: 2rem; 
    }
    @media all and (max-width: 1024px) { 
        height: 50px;
        p {
            padding-top: 15px;
            font-size: 1.2rem; 
        }
    }
}

.banniere-accueil {
    height: 350px;
    width: 100%;
    position: relative;
    background-image: url(../images/coquelicot6.jpg);
    background-size: cover;
    background-color: rgba(240,240,240,255); /*si l'image ne charge pas*/
    p {
        padding-top: 200px;
        color:$colour-white;
        text-align: center;
        font-family: courgette, arial, serif;
        font-weight: 200;
        font-size: 4rem; 
    }
    @media all and (max-width: 1024px) { 
        height: 100px;
        p {
            padding-top: 50px;
            font-size: 1.3rem; 
        }
    }
}
.accroche {
    margin-top: 15px;
    text-align: center;
    @media all and (min-width: 680px) and (max-width: 1024px) {
        margin-top: 15px;
    }
    @media all and (max-width: 680px) {
        margin-top: 0px;
    }

}