footer {
    background-color: $colour-bggrey;
    .heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin-left: 60px;
        margin-right: 20px;
        @media all and (max-width: 1100px) {
            margin-left: 20px;
        }
        @media all and (max-width: 730px) {
            margin-left: 10px;
            margin-right: 10px;
            align-content: center;
            flex-wrap: wrap;
        }

        .cecile_footer {
            text-decoration: none;
            color: $colour-primary;
            @include marquececile(3rem);
            @media all and (max-width: 1100px) {
                @include marquececile(2.5rem);
            }
            @media all and (max-width: 1024px) {
                @include marquececile(2rem);
            }
            @media all and (max-width: 680px) {
                @include marquececile(1.3rem);
            }
        }
        h2 {
            font-family: serif, arial;
            font-size: 1.3rem;
            font-weight: 300;
            @media all and (max-width: 1024px) {
                padding-top: 5px;
                font-size: 1.2rem;
            }
            @media all and (max-width: 730px) {
                font-size: 1rem;
            }
        }
        .btn {
            font-family: serif, arial;
            font-size: 1rem;
            font-weight: 600;
            text-decoration: none;
            @media all and (max-width: 1024px) {
                font-size: 0.8rem;
            }
            @media all and (max-width: 730px) {
                font-size: 0.7rem;
            }
        }
        .reseaux img {
            height: 40px;
            width: 40px;
            margin: 10px;
            vertical-align: middle;
            @media all and (max-width: 1024px) {
                height: 30px;
                width: 30px;
                margin: 5px;
            }
            @media all and (max-width: 730px) {
                margin: 0;
            }
        }
        .snk {
            margin-top: 5px;
            width: 300px;
            display: flex;
            flex-direction: row;
            align-items: center;
            @media all and (max-width: 1024px) {
                width: 130px;
            }
            @media all and (max-width: 730px) {
                width: 100px;
            }
            p {
                font-size: 0.8rem;
                text-align: right;
                vertical-align: middle;
                @media all and (max-width: 1024px) {
                    font-size: 0.75rem;
                }
                @media all and (max-width: 730px) {
                    display:none;
                }
            }
            img {
                height: 40px;
                margin-left: 10px;
                float: right;
                @media all and (max-width: 1024px) {
                    height: 40px;
                }
            }
        }
    }
    .mentions {
        padding-bottom: 10px;
        display: flex;
        justify-content:center;
        a {
            font-size: 0.8rem;
            a:visited {
                color:black;
                text-decoration: none;
            }
            @media all and (max-width: 1024px) {
                font-size: 0.7rem;
            }
            @media all and (max-width: 730px) {
                font-size: 0.6rem;
            }
        }
        p {
            margin-left:10px;
            color:$colour-shadow;
            font-size: 0.8rem;
            font-style: italic;
            @media all and (max-width: 1024px) {
                font-size: 0.7rem;
            }
            @media all and (max-width: 730px) {
                font-size: 0.6rem;
            }
        }
    }
}