.header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /*@media all and (max-width: 1024px) {
        display: flex;
        flex-direction: row;
    }*/
    &_heading {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin-top:2px;
        margin-bottom: 5px;
        padding-left: 2%;
        padding-right: 2%;
        width:auto;
        height: 130px;
        @media all and (max-width: 1024px) {
            height: 100px;
        }
        @media all and (max-width: 830px) {
            height: 60px;
        }
        @media all and (max-width: 500px) {
            height: 50px;
        }
        &_image {
            width: 90px;
            height: 90px;
            @include box-shadowradius;
            @media all and (max-width: 1024px) {
                width: 85px;
                height: 85px;
            }
            @media all and (max-width: 830px) {
                width: 60px;
                height: 60px;
            }        
            @media all and (max-width: 500px) {
                width: 45px;
                height: 45px;
            }        
        }
        &_calendrier {
            width: 70px;
            @include box-shadowradius;
            @media all and (max-width: 1024px) {
                width: 60px;
            }
            @media all and (max-width: 830px) {
                width: 50px;
            }        
            @media all and (max-width: 500px) {
                width: 40px;
            }        
        }
        &_name {
            display: flex;
            width: auto;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        &_postit {
            z-index: 1;
            width: 38%;
            margin-left: -38%;
            position: relative;
            right: -4%;
            top: 180%;
            @media all and (max-width: 1024px) {
                width: 35%;
                top: 150%;
                right: -5%;
                &:active {
                    visibility: hidden;
                }
            }
            @media all and (max-width: 830px) {
                width: 35%;
                top: 190%;
                right: -4%;
                &:active {
                    visibility: hidden;
                }
            }
            @media all and (max-width: 500px) {
                width: 50%;
                top: 130%;
                right: -4%;
                &:active {
                    width: 60%;
                }
            }
        }
    }
    h1 {
        @include marquececile(4rem);
        font-style: normal;
        text-align: center;
        color: $colour-shadow;
        @media all and (max-width: 1024px) {
            @include marquececile(2.6rem);
        }
        @media all and (max-width: 830px) {
            @include marquececile(1.5rem);
        }
        @media all and (max-width: 500px) {
            @include marquececile(1.1rem);
        }
    }
    h2 {
        font-family: serif;
        padding-top: 0;
        font-size: 2.3rem;
        font-style: bold;
        text-align: center;
        color: $colour-shadow;
        @media all and (max-width: 1024px) {
            font-size: 1.5rem;
        }
        @media all and (max-width: 830px) {
            font-size: 0.9rem;
        }
        @media all and (max-width: 500px) {
            font-size: 0.8rem;
        }
    }
}
