.header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /*@media all and (max-width: 1024px) {
        display: flex;
        flex-direction: row;
    }*/
    &_heading {
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin-top:2px;
        margin-bottom: 5px;
        @media all and (max-width: 1024px) {
            width: auto;
            margin-left: 10px;
            margin-right: 10px;
        }
        &_image {
            width: 90px;
            height: 90px;
            @include box-shadowradius;
            @media all and (max-width: 1024px) {
                width: 85px;
                height: 85px;
            }
            @media all and (max-width: 630px) {
                width: 50px;
                height: 50px;
            }        
        }
        &_calendrier {
            width: 70px;
            @include box-shadowradius;
            @media all and (max-width: 1024px) {
                width: 60px;
            }
            @media all and (max-width: 630px) {
                width: 45px;
            }        
        }
        &_name {
            display: flex;
            width: auto;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
    h1 {
        @include marquececile(4rem);
        font-style: normal;
        text-align: center;
        color: $colour-shadow;
        @media all and (max-width: 1024px) {
            @include marquececile(2.6rem);
        }
        @media all and (max-width: 630px) {
            @include marquececile(1.7rem);
        }
        }
    h2 {
        font-family: serif;
        padding-top: 0;
        font-size: 2.3rem;
        font-style: bold;
        text-align: center;
        color: $colour-shadow;
        @media all and (max-width: 1024px) {
            font-size: 1.5rem;
        }
        @media all and (max-width: 630px) {
            font-size: 0.9rem;
        }
    }
}
