.header_nav {
    background-color: $colour-bggrey;
    @media all and (max-width: 1024px) {
        /*width: 150px;
        margin-right: 0px;*/
    }
    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        list-style-type: none;
        font-family: serif;
        /*@media all and (max-width: 1024px) {
            flex-direction: column;
        }*/
    }
    & a {
        padding: 0 25px 10px 20px;
        font-size: 1.3rem;
        color: $colour-primary;
        line-height: 2em;
        text-decoration: none;
        border-radius: 5px 15px 0 0;
        @media all and (max-width: 1024px) {
            flex-direction: column;
            font-size: 0.9rem;
            line-height: 1.2rem;
            border-radius: 0;
        }
        @media all and (max-width: 830px) {
            padding: 0 10px 10px 10px;
            font-size: 0.8rem;
            line-height: 1rem;

        }
        &:hover {
            background-color: $colour-activ;
            padding-top: 10px;
            cursor: pointer;
            border-radius: 5px 15px 0 0;
            /*@media all and (max-width: 1024px) {
                padding-top:2px;
                padding-bottom: 2px;
                border-radius: 0;
                background-color: $colour-activ;
            }*/
        }
    }
    &-active {
        background-color: $colour-activ;
        border-radius: 5px 15px 0 0;
        font-weight: bold;
        /*@media all and (max-width: 1024px) {
            border-radius: 0;
        }*/
    }
}

.section_nav {
    margin-left: 30px;
    min-width: 200px;
    @media all and (max-width: 1024px) {
        min-width: 160px;
    }
    p {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size : 1.6rem;
        font-weight: bold;
        color: $colour-secondary;
        @media all and (max-width: 1024px) {
            font-size : 1.2rem;
        }
    }
    .vignette {
        margin-bottom: 20px;
        position: relative;
        .image {
            width: 150px;
            height: 150px;
            @include box-shadowradius;
            @media all and (max-width: 1024px) {
            width: 120px;
            height: 120px;
            }
            &:hover {
                box-shadow: 5px 5px 5px rgb(212, 70, 35);
                cursor: pointer;          
            }
        }
        .text {
            width: 150px;
            min-height: 1.1rem;
            bottom: 10px;
            position:absolute;
            text-align: center;
            color: $colour-primary;
            font-size: 0.9rem;
            font-weight: bold;
            background-color: rgba(230,232,230,0.75);
            @media all and (max-width: 1024px) {
                width: 120px;
                }
        }
    }
}

.section_nav-accueil {
    display:grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    margin: 30px 100px 30px 50px;
    @media all and (max-width: 1024px) {
        margin: 0 100px 30px 50px;
        min-width: 160px;
    }
    @media all and (max-width: 680px) {
        margin: 0 50px 30px 20px;
        min-width: 160px;
    }

    h1 {
        margin-top: 35%;
    }
    .vignette {
        position: relative;
        .image {
            width: 100%;
            height: 100%;
            @include box-shadowradius;
            @media all and (max-width: 1024px) {
                width: 100%;
                height: 100%;
            }
        }
        .text {
            width: 100%;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            min-height: 1.52rem;
            bottom: 25px;
            position:absolute;
            text-align: center;
            color: $colour-primary;
            font-size: 1.3rem;
            font-weight: bold;
            background-color: rgba(230,232,230,0.75);
            @media all and (max-width: 1024px) {
                bottom: 15px;
                width: 100%;
                font-size: 0.9rem;
            }
        }
        .vignette_text--hover {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            padding: 15px 10px 5px 15px;
            width: 100%;
            text-align: left;
            border-radius: 15px;
            font-size: 1em;
            font-weight: 600;
            line-height: 1.6rem;
            color: white;
            background-color: rgba(153, 152, 152, 0.8);
            overflow: auto;
            display: none;
            @media all and (max-width: 1300px) {
                padding-left: 10px;
                padding-right: 10px;
                width: 100%;
                font-size: 0.9em;
                line-height: 1.4rem;
            }
            @media all and (max-width: 1024px) {
                padding-left: 10px;
                padding-right: 10px;
                width: 100%;
                font-size: 0.8em;
                line-height: 1.2rem;
            }
        }
        &:hover {
            .vignette_text--hover {
                display: flex;
                flex-direction: column;
                cursor:auto;
            }
        }
    }
}

.calendrier {
    @include calendrier(1rem);
}
